.signup-link {
  color: #505050;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.46px;
  border-bottom: 1px solid #505050;
  display: inline-block;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: none;
  color: #505050;
}
