.scroll__area {
  height: calc(100vh - 190px);
}

.scroll__area_inbox {
  height: calc(100vh - 250px);
}

.scroll__area_todo {
  height: calc(100vh - 220px);
}

@media (min-width: 1020px) {
	.scroll__area {
	  height: calc(100vh - 100px);
	}
}

